<div class="search container-fluid">
  <div class="row align-items-center">
    <div class="col-6">
      <form class="d-flex justify-content-start align-items-center ps-5">
        <label for="searchMovie" class="me-3">Search a title...</label>
        <input
          [(ngModel)]="movieTitle"
          (ngModelChange)="searchTitle()"
          type="text"
          id="searchMovie"
          name="searchMovie">
      </form>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center pe-5">
        <select
          #genreSelect
          (change)="searchByGenre(genreSelect.value)"
          class="form-select me-4 select-genre"
        >
          <option selected value="all">All genres</option>
          <option value="Horror">Horror</option>
          <option value="Action">Action</option>
          <option value="Crime">Crime</option>
          <option value="Adventure">Adventure</option>
          <option value="Comedy">Comedy</option>
          <option value="Drama">Drama</option>
          <option value="Fantasy">Fantasy</option>
          <option value="Mistery">Mistery</option>
          <option value="Thriller">Thriller</option>
          <option value="Romance">Romance</option>
        </select>

      <button class="btn btn-primary filter-btn me-4" (click)="sortByRating(genreSelect.value)">
        <p *ngIf="ratingAsc">Rating v</p>
        <p *ngIf="!ratingAsc">Rating ^</p>
      </button>
      <button class="filter-btn btn" (click)="sortByYear(genreSelect.value)">
        <p *ngIf="yearAsc">Year v</p>
        <p *ngIf="!yearAsc">Year ^</p>
      </button>
    </div>
  </div>

</div>
