<app-header></app-header>
<div *ngIf="movie" class="details row">
  <div class="col-lg-4 left-details">
    <img src="{{movie.imageUrl}}">
  </div>
  <div class="col-lg-8 right-details">
    <h1>{{movie.title}}</h1>
    <h4>Genre: {{movie.genre}}</h4>
    <p class="description">{{movie.description}}</p>
    <div class="rating">
      <h3 class="rating-nb">{{movie.rating}}</h3>
      <h3 class="rating-ten">/10</h3>
    </div>
    <div *ngIf="isLoggedIn" class="d-flex mt-3">
      <span (click)="onLike()" *ngIf="!isLiked" class="icon me-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
               fill="#542371" class="bi bi-heart" viewBox="0 0 16 16">
          <path
            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
        </svg>
        </span>
      <span (click)="onLike()" *ngIf="isLiked" class="icon me-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
               fill="#542371"
               class="bi bi-heart-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg>
        </span>

      <span (click)="onWatchlist()" *ngIf="!isInWatchlist" class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#542371" class="bi bi-bookmark-plus"
               viewBox="0 0 16 16">
          <path
            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
          <path
            d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z"/>
          </svg>
        </span>

      <span (click)="onWatchlist()" *ngIf="isInWatchlist" class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
               class="bi bi-bookmark-plus-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z"/>
          </svg>
        </span>
    </div>
    <button
      class="btn open-modal"
      data-bs-toggle="modal"
      data-bs-target="#youtubeModal"
    >Watch trailer
    </button>
  </div>
</div>
<div class="related-movies">
  <h2>Related movies</h2>
  <div class="movie-list">
    <div *ngFor="let movie of relatedMovies; index as index">
      <app-movie-card
        [movie]="movie"
        [isLoggedIn]="isLoggedIn"
        [isInWatchlist]="isInWatchlistArray[index]"
        [isLiked]="isLikedArray[index]"
      ></app-movie-card>
    </div>
  </div>
  <div *ngIf="!foundRelated">
    <p>No movies matching</p>
  </div>
  <div class="card-footer pb-0 pt-3">
    <jw-pagination [pageSize]="8" [items]="relatedMovies" (changePage)="onChangePage($event)"></jw-pagination>
  </div>
</div>

<div class="youtube-modal" *ngIf="movie">
  <div class="modal fade" id="youtubeModal" tabindex="-1" aria-labelledby="youtubeModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Watch trailer</h2>
        </div>
        <div class="modal-body">
          <iframe width="760" height="400" [src]="getSafeVideoUrl()" title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary close-button" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
